/* Grid */

@mixin ayre-grid($auto: null, $sizes: null, $gutters: null, $font-family: null) {
    @if type-of($auto) == map {
        $font-family: $gutters;
        $gutters: $sizes;
        $sizes: $auto;
        $auto: null;
    }
    @if $gutters == null {
        $gutters: $ayre-gutters;
    }
    @include ayre-container();
    @include ayre-gutters-container($gutters);
    > * {
        @include ayre-item($font-family);
        @include ayre-gutters-item($gutters);
        @include ayre-span($auto, $sizes);
    }
}

/* Container */

@mixin ayre-container() {
    font-family: ayre-no-whitespace;
}

/* Items */

@mixin ayre-item($font-family: null) {
    @if $font-family == null {
        $font-family: $ayre-font-family;
    }
    font-family: $font-family;
    width: 100%;
    vertical-align: top;
    display: inline-block;
}

/* Gutters */

@mixin ayre-gutters($gutters) {
    @include ayre-gutters-container($gutters);
    > * {
        @include ayre-gutters-item($gutters);
    }
}
@mixin ayre-gutters-container($gutters) {
    $gutters: ayre-gutters($gutters);
    @if ayre-gutters-x($gutters) != null {
        margin-left: ayre-gutters-x($gutters) * -0.5;
        margin-right: ayre-gutters-x($gutters) * -0.5;
    }
    @if ayre-gutters-y($gutters) != null {
        margin-bottom: ayre-gutters-y($gutters) * -1;
    }
}
@mixin ayre-gutters-item($gutters) {
    $gutters: ayre-gutters($gutters);
    margin: 0;
    @if ayre-gutters-x($gutters) != null {
        padding-left: ayre-gutters-x($gutters) * 0.5;
        padding-right: ayre-gutters-x($gutters) * 0.5;
    }
    @if ayre-gutters-y($gutters) != null {
        margin-bottom: ayre-gutters-y($gutters);
    }
}

/* Span */

@mixin ayre-span($auto: null, $sizes: null) {
    @if type-of($auto) == map {
        $sizes: $auto;
        $auto: null;
    }
    $sizes: ayre-sizes($auto, $sizes);
    @each $range, $selectors in $sizes {
        @include ayre-media($range) {
            @each $selector, $span in $selectors {
                $span:  ayre-span($span);
                $width: ayre-span-width-length($range, $span);
                $left:  ayre-span-left-length($range, $span);
                $right: ayre-span-right-length($range, $span);
                @include ayre-selector($selector) {
                    width: $width;
                    @if $left != null {
                        margin-left: $left;
                    }
                    @if $right != null {
                        margin-right: $right;
                    }
                }
            }
        }
    }
}

/* Media */

@mixin ayre-media($range: null) {
    $range: ayre-range($range);
    $min:   ayre-range-min($range);
    $max:   ayre-range-max($range);
    @if $min != null {
        $min: ayre-measure-min(map-get($ayre-points, $min));
    }
    @if $max != null {
        $max: ayre-measure-max(map-get($ayre-points, $max));
    }
    @if $min != null and $max != null {
        @media screen and (min-width: $min) and (max-width: $max) { @content; }
    } @else if $min != null {
        @media screen and (min-width: $min) { @content; }
    } @else if $max != null {
        @media screen and (max-width: $max) { @content; }
    } @else {
        @media screen { @content; }
    }
}

/* Selector */

@mixin ayre-selector($selector) {
    @if $selector == null {
        @content;
    } @else {
        &#{$selector} {
            @content;
        }
    }
}