/* Variables */

$ayre-basis:   100px !default;
$ayre-gutters: 0     !default;
$ayre-limit:   12    !default;
$ayre-extra:   0     !default;

$ayre-sizes:   ayre-sizes(1);
$ayre-points:  ayre-points($ayre-sizes);