/* Variables */

$ayre-basis:     100px !default;
$ayre-gutters:   0     !default;
$ayre-limit:     12    !default;
$ayre-extra:     0     !default;
$ayre-font-size: 1rem  !default;

$ayre-points:    ayre-points();