/* Variables */

$ayre-unit:        100px !default;
$ayre-limit:       12    !default;
$ayre-gutters:     0     !default;
$ayre-extra:       0     !default;
$ayre-font-family: serif !default;

$ayre-points:      ayre-points();